{% extends '::admin.layout.html.twig' %}

{% block body %}
    <h1 xmlns="http://www.w3.org/1999/html">Blog edit</h1>

    <br>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <br>

    {{ form_start(delete_form) }}
        <input type="submit"  class="btn btn-danger" value="Delete">
    {{ form_end(delete_form) }}

    <br>
    <br>
    <a href="{{ path('blog_index') }}">Back to the list</a>

{% endblock %}